.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  background-color: slategray
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}
